body {
    color: var(--text);
    background-color: var(--main);
    transition: background-color 0.3s ease-in;
}

.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--main);
    box-shadow: var(--boxShadow);
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    box-sizing: border-box;
}

.left-bar,
.right-bar,
.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    flex-direction: row;
    margin: 10px;
}

.left-bar>.logo {
    display: flex;
    height: 100%;
}

#toggle-theme {
    border: none;
    font-size: 2em;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.dark {
    color: yellow;
}

.dark:hover,
.light:hover {
    transform: scale(1.2, 1.2);
}

.menu-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0.25;
}



